body{
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
.bold{
    font-weight: bold;
}
.link{
    color: hotpink;
}
.link:hover{
    color: rgb(169, 63, 116);
    cursor: pointer;
}
.back{
    border: 1px solid hotpink;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    background-color: hotpink;
    color: white;
    font-weight: bold;
    transition: 0.7s;
}
.back:hover{
    cursor: pointer;
    background-color: rgb(102, 21, 62);
    transform: rotate(5deg) translateX(10px);
}